parameters:
    level: max
    paths:
        - src/
        - tests/
    ignoreErrors:
    excludePaths:
        - src/Console/*
        - src/Facades/*
        - src/Middleware/*
        - src/JwtServiceProvider.php

